<br><br>

   <div id ="thanks">

      <br>
      
         <h2>Contact</h2>

             <p>Thanks for watching my Ruby and Rails Pizza app</p>

             <p>Matteo Soresini</p>

             <p>email: matteo.soresini@hotmail.it</p>

   </div>