<br><br>

      <div id ="pizzas_story">

         <br>

            <h1>Homepage</h1>   

         <br>
         
                <p>The word "pizza" was first documented in 997 AD in Gaeta, Italy, and successively in different parts of Central and Southern Italy. The precursor of pizza was probably the focaccia, a flat bread known to the Romans as "panis focacius", to which toppings were then added.The popular pizza Margherita owes its name to Italy's Queen Margherita who in 1889 visited the Pizzeria Brandi in Naples. The Pizzaiolo (pizza maker) on duty that day, Rafaele Esposito created a pizza for the Queen that contained the three colors of the new Italian flag. The red of tomato, white of the mozzarella and fresh green basil, was a hit with the Queen and the rest of the world. Neapolitan style pizza had now spread throughout Italy and each region started designing their own versions based on the Italian culinary rule of fresh, local ingredients.</p>

      </div>